body {
    background-color: rgb(253, 251, 251);
}

#cabecalho {
    top: 0;

}

#cabecalho h1 {
    font-family: sans-serif;
    color: purple;
    font-weight: bold;
    font-size: 50px;

}

table {

    padding: 5px;
    border: 3px solid gray;
    margin: 5px;
    margin-top: 15px;

}

.lado-esquerdo {
    width: 45%;
    float: left;
}

.lado-direito {
    width: 45%;
    float: right;
}

article {
    padding: 5px;
    border: 3px solid purple;
    margin: 5px;
    margin-top: 15px;
    line-height: 2em;

}

aside {
    padding: 5px;
    border: 3px solid purple;
    margin: 5px;
    margin-top: 15px;
    line-height: 2em;
}